body {
    font-family: 'Inter';
    background-color: #f5f5f5;
    color: #36454F;
    margin: 0;
    padding: 0;
    max-width: 700px;
}

/* .headpiece {

} */

.sitecontent {
    padding: 25px;
}

a {
    text-decoration: none;
}

.leftlink {
    color: #36454F;
}

.leftlink:hover {
    color: #7393B3;
}

#navbuttons {
    display: flex;
}

.packbutton {
    background-color: #899499;
    color: #f5f5f5;
    padding: 8px;

    -webkit-transition: color 1s;
    -moz-transition:    color 1s;
    -ms-transition:     color 1s;
    -o-transition:      color 1s;
    transition:         color 1s;
}

.activepack {
    background-color: #606865;
}

.packbutton:hover {
    background-color: #606865;
}

.description {
    color: #606865;
}

.hang {
    display: flex;
    justify-content: space-between;
    padding-bottom: 3px;
}

.hangleft {
    width: 40%;
}

.hangmiddle {
    display: flex;
    justify-content: space-between;
}

.hangright {
    width: 20%;
    text-align: right;
}

.arrow {
    border: solid #36454F;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}

.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
}

.votebox {
    padding: 3px;
}

.votebutton {
    background-color: #E5E4E2;
    margin: 2px;
    border: none;
}

.goodvote:hover {
    background-color: lightgreen;
}

.fringevote:hover {
    background-color: lightblue;
}

.toughvote:hover {
    background-color: lightcoral;
}

.goodactive {
    background-color: lightgreen;
}

.fringeactive {
    background-color: lightblue;
}

.toughactive {
    background-color: lightcoral;
}
