{% extends 'base.html' %}

{% block title %}hangs{% endblock %}

{% block content %}
<div class="headpiece">
    <h1>hangs</h1>

    <form id="logout" action="{{ url_for('logout') }}" name="logout" method="post" enctype="multipart/form-data">
        {{ user }} <input type="submit" name="logout" value="Log Out"/>
    </form>
</div>
<div id="navbuttons">
    {% for p in packs %}
    <a href="{{ url_for('pack', pack_name=p.name) }}">
        <div class="packbutton">
            {{ p.name }}
        </div>
    </a>
    {% endfor %}
</div> <br/>
<div>
    Yeah man so pretty much just pick a pack above and vote if what's in it would be a good, fringe, or tough hang. Sweet
</div>
<script>

</script>
{% endblock %}