{% extends 'base.html' %}

{% block title %}hangs{% endblock %}

{% block content %}
<div>
    <div class="headpiece">
        <h1>hangs</h1>
    </div>

    <h3>login</h3>

    <div id="regmessage">
        {{ message }}
    </div>

    <form method="post">

        <div class="validatebox">
            <input type="text" name="handle"
                placeholder="username" class="validateinput"
                value="{{ request.form['handle'] }}">
            </input>
            <br/>
            <input type="number" name="code"
                placeholder="4-digit code" class="validateinput"
                value="{{ request.form['code'] }}">
            </input>
        </div></br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form> <br/>

    or <a href="{{ url_for('new') }}">create an account</a>
</div>
{% endblock %}