{% extends 'base.html' %}

{% block title %}hangs{% endblock %}

{% block content %}
<div>
    <div class="headpiece">
        <h1>hangs</h1>
    </div>

    Alright man so we just kinda vote on if stuff would be cool to hangout with or not here.

    <h3>create account</h3>

    <div id="regmessage">
        {{ message }}
    </div>

    <form method="post">

        <div class="validatebox">
            Make a
            <input type="text" name="handle"
                placeholder="username" class="validateinput"
                value="{{ request.form['handle'] }}">
            </input>
            <br/>
            and a 4-digit code
            <input type="number" name="code"
                placeholder="XXXX" class="validateinput"
                value="{{ request.form['code'] }}">
            </input>
        </div></br>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
        </div><br/>

    </form> <br/>

    or <a href="{{ url_for('login') }}">login</a>
</div>
{% endblock %}