{% extends 'base.html' %}

{% block title %}hangs{% endblock %}

{% block content %}
<div class="headpiece">
    <h1><a class="homelink" href="{{ url_for('home') }}">hangs</a>/admin/new_pack</h1>
</div>

<form method="post">

    <div class="validatebox">
        title
        <input type="text" name="title"
            placeholder="title" class="validateinput"
            value="{{ request.form['title'] }}">
        </input>
        <br/>

        description
        <input type="text" name="description"
            placeholder="decription" class="validateinput"
            value="{{ request.form['description'] }}">
        </input>
        <br/>
        {% for i in range(1,21) %}
            hang{{ i }}
            <input type="text" name="hang{{ i }}"
                placeholder="hang{{ i }}" class="validateinput"
                value="{{ request.form['hang{{ i }}'] }}">
            </input>
            <br/>
        {% endfor %}
    </div></br>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Make pack</button>
    </div>
</form> 

{% endblock %}