{% extends 'base.html' %}

{% block title %}hangs{% endblock %}

{% block content %}
<div class="headpiece">
    <h1>hangs/{{ packname }}</h1>
</div>
<div id="navbuttons">
    {% for p in packs %}
    <a href="{{ url_for('pack', pack_name=p.name) }}">
        {% if p.active %}
        <div class="packbutton activepack">
        {% else %}
        <div class="packbutton">
        {% endif %}
            {{ p.name }}
        </div>
    </a>
    {% endfor %}
</div>
<p class="description">
    {% if description is not none %}
        {{ description }}
    {% endif %}
</p>
<div class="packcontainer">
    <div class="hang">
        <div class="hangleft">
            hang
        </div>
        <div class="hangmiddle">
            your rating
        </div>
        <div class="hangright">
            total score
        </div>
    </div> <br/>
    <div id="hangbox">
    {% for hang in pack %}
        <div class="hang hangboxes" id="{{ hang.name }}">
            <div class="hangleft">
                <a class="leftlink" href="https://www.google.com/search?q={{ hang.search }}" target="_blank">{{ hang.name }}</a>
            </div>
            <div class="hangmiddle">
                {% if hang.direction == 1 %}
                    <button class="votebutton goodvote goodactive" id="goodvote{{ hang.id }}" onclick="takeVote('{{ api_url }}', '{{ hang.name }}', {{ hang.id }}, 1, {% if hang.direction is not none %}{{ hang.direction }}{% else %}-2{% endif %})">
                {% else %}
                    <button class="votebutton goodvote" id="goodvote{{ hang.id }}" onclick="takeVote('{{ api_url }}', '{{ hang.name }}', {{ hang.id }}, 1, {% if hang.direction is not none %}{{ hang.direction }}{% else %}-2{% endif %})">
                {% endif %}
                        <div class="votebox">
                            <i class="arrow up"></i>
                        </div>
                    </button>

                {% if hang.direction == 0 %}
                    <button class="votebutton fringevote fringeactive" id="fringevote{{ hang.id }}" onclick="takeVote('{{ api_url }}', '{{ hang.name }}', {{ hang.id }}, 0, {% if hang.direction is not none %}{{ hang.direction }}{% else %}-2{% endif %})">
                {% else %}
                    <button class="votebutton fringevote" id="fringevote{{ hang.id }}" onclick="takeVote('{{ api_url }}', '{{ hang.name }}', {{ hang.id }}, 0, {% if hang.direction is not none %}{{ hang.direction }}{% else %}-2{% endif %})">
                {% endif %}
                        <div class="votebox">
                            <i class="fringe">-</i>
                        </div>
                    </button>

                {% if hang.direction == -1 %}
                    <button class="votebutton toughvote toughactive" id="toughvote{{ hang.id }}" onclick="takeVote('{{ api_url }}', '{{ hang.name }}', {{ hang.id }}, -1, {% if hang.direction is not none %}{{ hang.direction }}{% else %}-2{% endif %})">
                {% else %}
                    <button class="votebutton toughvote" id="toughvote{{ hang.id }}" onclick="takeVote('{{ api_url }}', '{{ hang.name }}', {{ hang.id }}, -1, {% if hang.direction is not none %}{{ hang.direction }}{% else %}-2{% endif %})">
                {% endif %} 
                        <div class="votebox">
                            <i class="arrow down"></i>
                        </div>
                    </button>
            </div>
            <div class="hangright" id="totalscore{{ hang.id}}">
                {{ hang.sum }}
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<script>
    var VOTE2TITLE = {
        "1": "goodvote",
        "0": "fringevote", 
        "-1": "toughvote"
    }

    var VOTEACTIVE = {
        "1": "goodactive",
        "0": "fringeactive", 
        "-1": "toughactive"        
    }

    function takeVote(api_url, hang_name, hang, vote, existing_vote) {
        if (vote != existing_vote) {
            // make request
            fetch(`${api_url}/vote`, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    "hang": hang,
                    "vote": vote,
                    "existing": existing_vote
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data)
                // update total score for that hang
                document.getElementById(`totalscore${hang}`).innerHTML = parseInt(document.getElementById(`totalscore${hang}`).innerHTML) + vote;

                // change css for the button that's selected
                if (existing_vote > -2) {
                    document.getElementById(`totalscore${hang}`).innerHTML = parseInt(document.getElementById(`totalscore${hang}`).innerHTML) - existing_vote;
                    document.getElementById(`${VOTE2TITLE[existing_vote.toString()]}${hang}`).className = `votebutton ${VOTE2TITLE[existing_vote.toString()]}`;
                }
                document.getElementById(`${VOTE2TITLE[vote.toString()]}${hang}`).className = `votebutton ${VOTE2TITLE[vote.toString()]} ${VOTEACTIVE[vote.toString()]}`;

                // have to reset direction as well - this is gonna suck
                document.getElementById(`goodvote${hang}`).onclick = function() { takeVote(api_url, hang_name, hang, 1, vote) }
                document.getElementById(`fringevote${hang}`).onclick = function() { takeVote(api_url, hang_name, hang, 0, vote) }
                document.getElementById(`toughvote${hang}`).onclick = function() { takeVote(api_url, hang_name, hang, -1, vote) }

                // figure out how to reorder list
                // var hang_boxes = [];
                // var html_boxes = document.getElementsByClassName('hangboxes');
                // for (var i = 0; i < html_boxes.length; ++i) {
                //     hang_boxes.push([parseInt(html_boxes[i].getElementsByClassName("hangright")[0].innerHTML), html_boxes[i].outerHTML]);
                // }
                // hang_boxes.sort(function(a,b){return b[0] - a[0];}); 
                // var sorted_boxes = "";
                // for (var i = 0; i < hang_boxes.length; ++i) {
                //     sorted_boxes += hang_boxes[i][1].toString();
                // }
                // document.getElementById("hangbox").innerHTML = sorted_boxes;

            })

        }
        else {
            console.log("Voting same way, no need to double dip.")
        }
    }
</script>
{% endblock %}