{% extends 'base.html' %}

{% block title %}hangs{% endblock %}

{% block content %}
<div class="headpiece">
    <h1>hangs/{{ packname }}</h1>
</div>
<div id="navbuttons">
    {% for p in packs %}
    <a href="{{ url_for('pack', pack_name=p.name) }}">
        {% if p.active %}
        <div class="packbutton activepack">
        {% else %}
        <div class="packbutton">
        {% endif %}
            {{ p.name }}
        </div>
    </a>
    {% endfor %}
</div>
<p class="description">
    {% if description is not none %}
        {{ description }}
    {% endif %}
</p>
<div class="packcontainer">
    <div class="hang">
        <div class="hangleft">
            hang
        </div>
        <div class="hangmiddle">
            your rating
        </div>
        <div class="hangright">
            total score
        </div>
    </div> <br/>
    {% for hang in pack %}
        <div class="hang">
            <div class="hangleft">
                {{ hang.name }}
            </div>
            <div class="hangmiddle">
                {{ hang.direction }}
                <i class="arrow up"></i>
                <i class="fringe">-</i>
                <i class="arrow down"></i>
            </div>
            <div class="hangright">
                {{ hang.sum }}
            </div>
        </div>
    {% endfor %}
</div>
<script>

</script>
{% endblock %}